* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: rgb(46, 46, 46); */
    font-family: tahoma;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: rgb(225, 91, 91);
    width: 100vw;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    cursor: pointer;
}

center {
    width: 100%;
}

fieldset {
    border: none;
    box-shadow: 1px 2px 5px gray;
    padding: 1rem;
    border-radius: 10px;
    width: 40%;
}

legend {
    background-color: white;
}

legend img {
    width: 3rem;
    opacity: 0.5;
}

img {
    width: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form span {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}

form span img {
    position: absolute;
    margin-top: -1rem;
    margin-left: 1rem;
    opacity: 0.5;
}

form span input {
    width: 49%;
    padding: 1rem;
    padding-left: 3.5rem;
}

form .input_class {
    /* background-color: green; */
    margin-top: 0.5rem;
    padding: 0.4rem;
}

form .input_class input {
    width: 100%;
    padding: 1rem;
    padding-left: 3.5rem;
}

form .input_class img {
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.5rem;
    opacity: 0.5;
}

form input[type="submit"] {
    background-color: rgb(0, 166, 255);
    border: none;
    width: 98%;
    border-radius: 100px;
    padding: 1rem;
    color: white;
}

.footer {
    background-color: rgb(0, 166, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer ul {
    list-style: none;
    display: flex;
    padding: 0rem 4rem;
}

.footer ul li {
    padding: 1.4rem;
}

button {
    background-color: rgb(225, 91, 91);
    width: 100%;
    color: white;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

button img {
    background-color: white;
    padding: 0.1rem;
    border-radius: 5px;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

.uniqueMail {
    background-color: rgb(231, 231, 231);
    border-radius: 100px;
    border: none;
    box-shadow: 1px 2px 3px gray;
}

.dashContent {
    height: 100vh;
    width: 100vw;
    padding: 11vh 1rem 0 1rem;
    display: flex;
    flex-direction: row;
}

.dashContent .left {
    width: 60%;
}

.dashContent .right {
    width: 40%
}

.dashContent .right ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: white;
    padding: 0.5rem;
}

.dashContent .right ul li {
    border-bottom: 1px solid rgb(0, 166, 255);
    padding: 0.4rem 2rem
}